<section>
  <article>
    <h1>New <%= human_name.downcase %></h1>

    <section>
      <%%= render "form", <%= singular_table_name %>: @<%= singular_table_name %> %>
    </section>

    <br>

    <div>
      <%%= link_to "Back to <%= human_name.pluralize.downcase %>", <%= index_helper %>_path %>
    </div>
  </article>
</section>
