<aside>
<% if attributes.include?(:title) %>
  <h3><%%= link_to <%= singular_table_name %>.title, singular_table_name %></h3>
<% end -%>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
  <p>
    <strong><%= attribute.human_name %>:</strong>
    <% if attribute.attachment? -%>
    <%%= link_to <%= singular_table_name %>.<%= attribute.column_name %>.filename, <%= singular_table_name %>.<%= attribute.column_name %> if <%= singular_table_name %>.<%= attribute.column_name %>.attached? %>
    <% elsif attribute.attachments? -%>
    <%% <%= singular_table_name %>.<%= attribute.column_name %>.each do |<%= attribute.singular_name %>| %>
      <figure><%%= link_to <%= attribute.singular_name %>.filename, <%= attribute.singular_name %> %></figure>
    <%% end %>
    <% else -%>
    <%%= <%= singular_table_name %>.<%= attribute.column_name %> %>
    <% end -%>
  </p>
<% end -%>
  <p>
    <%%= link_to "Show this <%= human_name.downcase %>", <%= singular_table_name %> %>
  </p>
</aside>
